
    <nav>
    <div class="nav-wrapper container " >
      <a id="logo-container" href="#" class="brand-logo"><%= image_tag "logotierra.png", :style => "width:142px; max-width: 95%; float: left;" %></a>
   
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Galería</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
       
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
         <li><a href="#">Galería</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <%= image_tag "rocio.jpg", :style => "width: 100%;" %>
      </div>
            <a href="#!user"><img class="circle"<%= image_tag("marcela.jpg", :alt => "rss feed") %>>
      <a href="#!name"><span class="white-text name">Marcela Donoso</span></a>
      <a href="#!email"><span class="white-text email">marcela@tierraproducciones.cl</span></a>
    </div></li>
    
    <li><a href="#!">Home</a></li>
    <li><a class="waves-effect" href="#!">Nosotros</a></li>
    <li><a class="waves-effect" href="#!">Nuestra experiencia</a></li>
    <li><a class="waves-effect" href="#!">Galería</a></li>
    <li><a class="waves-effect" href="#!">Contacto</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Descargar brochure</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons orange-text">menu</i></a>
    </div>
  </nav>
 
<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "concierto.jpg"%> <!-- random image -->
        <div class="caption center-align">
          <h3>Tierra producciones 2017</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "fondoaceitunas.jpg"%>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
          <%= image_tag "garden.jpg"%>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
          <%= image_tag "garzon.jpg"%>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
<script type="text/javascript">
   $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>

<!--
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-lighten-1">Tierra producciones</h1>
        <div class="row center">
          <h5 class="header col s12 light">9 años al servicio del Norte grande</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange lighten-1">Comenzar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" id="fondo"><%= image_tag "fondoaceitunas.jpg"%></div>
  </div>
-->

  <div class="container">
    <div class="section">
      
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"> <%= image_tag "rocket.png", :style => "width: 75px; max-width: 95%;" %></h2>
            <h5 class="center">Misión</h5>

            <p class="light">Somos una empresa capacitada para generar soluciones comunicacionales a través de conceptos creativos y eficientes que logren posicionarnos como una alternativa diferente en el ámbito de relaciones públicas, coordinación y producción de eventos corporativos como Ceremonias, Diplomados, Simposios, Eventos artísticos y culturales.br</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"> <%= image_tag "eye.png", :style => "width: 75px; max-width: 95%;" %></h2>
           
            <h5 class="center">Visión</h5>

            <p class="light">Nuestra visión es ser líderes en calidad, servicios y confianza en el Norte Grande, apoyando a nuestros clientes en el logro de servicios de producción, logística y supervisión de sus eventos corporativos,
                bajo el concepto de seguridad, responsabilidad social y creatividad.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"> <%= image_tag "values.png", :style => "width: 75px; max-width: 95%;" %></h2>
            <h5 class="center">Valores</h5>

            <p class="light">Nuestra visión es ser líderes en calidad, servicios y confianza en el Norte Grande, apoyando a nuestros clientes en el logro de servicios de producción, logística y supervisión de sus eventos corporativos,
                bajo el concepto de seguridad, responsabilidad social y creatividad.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--Nosotros -->

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
          <h5 class="header col s12 light">9 años al servicio del norte grande</h5>
        </div>
      </div>
  </div>
    <div class="parallax"><%= image_tag "chela.jpg"%></div>
  </div>
 <!--Servicios --> 
   
    <div class="section">
     <div class="col s12 center">
     <h4>Servicios</h4> <br><br>
     <div class="row">
        <div class="col s12 m6 l3">
         <img class="materialboxed" src="https://scontent.fscl7-1.fna.fbcdn.net/v/t1.0-9/1002379_10203075801956365_1922565453_n.jpg?oh=33577defe26fd5e8e8bdce079c661045&oe=598A31A2" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Logística</h5>
      </div>
      <div class="col s12 m6 l3">
          <img class= "materialboxed" src="https://www.carmineilcasale.com/assets/images/catering/catering_1.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Catering y Cocktail</h5>
      </div>
      <div class="col s12 m6 l3">
          <img class= "materialboxed" src="https://static.wixstatic.com/media/e3ce71_6a534e6ef76e449a855b304ae91fbbd0.jpg_srz_960_640_85_22_0.50_1.20_0.00_jpg_srz" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Decoración y escenografía</h5>      
      </div>
      <div class="col s12 m6 l3">
          <img class="materialboxed" src="https://static.artofwhere.net/img/create/thumbnails/leggings.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Artistas destacados</h5>
      </div>
       <div class="col s12 m6 l3">
          <img class="materialboxed" src="https://static.artofwhere.net/img/create/thumbnails/leggings.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Servicios audiovisuales</h5>
      </div>
       <div class="col s12 m6 l3">
          <img class="materialboxed" src="https://static.artofwhere.net/img/create/thumbnails/leggings.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Servicios audiovisuales</h5>
      </div>
       <div class="col s12 m6 l3">
          <img class="materialboxed" src="https://static.artofwhere.net/img/create/thumbnails/leggings.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Servicios audiovisuales</h5>
       </div>
       <div class="col s12 m6 l3">
          <img class="materialboxed" src="https://static.artofwhere.net/img/create/thumbnails/leggings.jpg" class="grid-element-bg" width="292" height="292" alt="Custom printed Leggings" data-hdpi="">
          <h5 class="grid-element-title">Servicios audiovisuales</h5>
      </div>
      </div>
     </div>
   </div>
    <script>  
     $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
   </script>
   

<!--Nosotros -->
  <div class="container">
    <div class="section">
      <div class="col s12 center">
        <h4>Galería</h4>
          <div class="carousel">
          <a class="carousel-item" href="#one!"><%= image_tag "001.jpg"%></a>
          <a class="carousel-item" href="#two!"><%= image_tag "002.jpg"%></a>
          <a class="carousel-item" href="#three!"><%= image_tag "003.jpg"%></a>
          <a class="carousel-item" href="#four!"><%= image_tag "004.jpg"%></a>
          <a class="carousel-item" href="#five!"><%= image_tag "bandaaltiplanica.jpg"%></a>
          </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="section">
    <h5>Etapas de un servicio integral</h5>
     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Pre-producción</div>
      <div class="collapsible-body"><span>Nuestra empresa, con todo su experiencia, se dedica en esta etapa a identificar objetivos generales de la empresa, someter todo el trabajo a una estricta planificación, que incluye por ejemplo carta Gantt, visitas a terreno, layout (mapa georeferencial del evento) y reuniones de coordinación.
</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">schedule</i>Producción</div>
      <div class="collapsible-body"><span>Cumplir los tiempos requeridos con excelencia para la realización del Evento, de acuerdo a la planificación, logística y organización del Evento.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assessment</i>Pos producción</div>
      <div class="collapsible-body"><span> Para la etapa final se desarrolla el trabajo de desmontaje, brigada de limpieza e informe de los resultados del evento con tablas dinámicas e informes web de los asistentes de su evento.</span></div>
    </li>
  </ul>
  </div>
</div>
  
  <script>
    
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
        
  </script>
   
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contacto</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. </p>
          <p class="subtitle"> Escríbenos directamente bajo el botón</p>

          <%=  mail_to "marcela@tierraproducciones.cl", "Enviar email", subject: "Hola Porfavor incluye tu nombre y correo", :class=> " waves-effect waves-light btn-large" %>

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">9 años al servicio del norte grande</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "background3.jpg" %></div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Información de la compañia</h5>
          <p class="grey-text text-lighten-4">Tierra Producciones nace como empresa el 2009, bajo el liderazgo de su Gerente General, Marcela Donoso Cabello, la cual aporta con su experiencia de 7 años en la Organización y Producción de Eventos Corporativos y RR.PP., enfocada principalmente a prestar servicio a las  empresas del sector minero e industrial, dentro de sus programas del ámbito social y comunitario.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <ul>
            <li><a class="facebook_icon ir" href="http://www.facebook.com/pages/Pixeden/186278458099201" target="_blank">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Tierraproducciones, Todos los derechos reservados  <a class="brown-text text-lighten-3" href="http://materializecss.com">Latinbox</a>
      </div>
    </div>
  </footer>

